<div class="container-fluid">
    <div class="row" id="main-row" >
        <div class="col-3" >
            <div class="row" id="sub-row">
                <div class="row-6">                      
                        <img [src]="img" class="img-fluid">      
                </div>
                <div class="row-6">
                    <h1 style="margin-top: 20px;">{{nombre}} {{apellido}}</h1>
                <p>Full Stack Developer Jr</p>
                </div>                 
            </div>    
        </div>

        <div class="col-8" id="desc">
            <div class="col-11">
                <h1 style="margin-top: 30px; margin-bottom: 10px;">Acerca de mi</h1>
                <p></p>
                <h4>Fecha: <time>{{nacimiento}}</time> </h4>
                <p></p>
                <pre>{{descripcion}}</pre>
            </div>      
            <div class="col-1">  
                <div class="col-1" id=icon-edit>
                    <button type="button" class="btn btn-outline-secondary" style="width: 100px; height: 70; margin-bottom: 20px;" 
                    *ngIf="isLogged" routerLink="''" >
                        <i class="bi bi-file-earmark-plus"></i>
                        
                    </button>
                    <button type="button" class="btn btn-outline-secondary" (click)="onEdit(1)" *ngIf="isLogged">
                        <i class="bi bi-pencil-square" ></i>
                    </button>           
                </div>
            </div>      

        </div>
       
    </div>
</div>
