.container-fluid{
    margin-top: 10px;
    border-radius: 10px;
    
    justify-content: stretch;
    min-height: 200px;
}
.row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row2{
    display: flex;
    align-items: center;
}
#item{    
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 30%;
    margin-top: 20px;
    border-radius: 10px;
    background: #b5acbf;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,rgba(91, 94, 97, 0.301), rgba(147, 154, 171, 0.221));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,rgba(91, 94, 97, 0.301), rgba(147, 154, 171, 0.221))
    
}
#itemContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#editBtn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.row-sub1{
    display: flex;
    margin-top: 10px;  
    width: 100%;
}
#container-main{
    border-top: rgba(54, 56, 56, 0.631) solid;
    border-bottom: rgba(54, 56, 56, 0.3) solid; 
}