.container-fluid{
    margin-top: 10px;
    border-radius: 10px;
    justify-content: stretch;
    min-height: 200px;
    border-top: rgba(54, 56, 56, 0.631) solid;
    border-bottom: rgba(54, 56, 56, 0.3) solid;

}
.row1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row2{    
    display: flex;
    margin-top: 20px;
    border-radius: 10px;
    background: #b5acbf;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,rgba(91, 94, 97, 0.301), rgba(147, 154, 171, 0.221));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,rgba(91, 94, 97, 0.301), rgba(147, 154, 171, 0.221))
}
img{
    width: 100%;
    padding: 20px;
    height: 250px;

}
#imgContainer{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    margin: 3px;
    margin-right: 5px;   
}
#expBtn{
    display: flex;
    justify-content: center;
}
#icon-edit{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}